{% extends 'base.html' %}

{% block title %}Support Hub - მთავარი გვერდი{% endblock %}

{% block content %}
    {% for i in range %}
        <div class="container-xl my-4 px-3 py-3 border rounded main-posts">
            <strong class="mb-2">გთხოვთ მირჩიოთ ბიზნეს გეგმის შესახებ</strong>
            <p class="mb-3" style="padding-top: 6px">
                დღეს საკმაოდ პროდუქტიული დღე იყო. წარმატებით დასრულდა დაგეგმილი სამუშაოები, მიღწეულ იქნა
                რამდენიმე მნიშვნელოვანი მიზანი და გუნდმა გამოჩინა მაღალი მოტივაცია. დღის ბოლოს შესამჩნევად გაიზარდა
                პროგრესი
                პროექტში და განისაზღვრა მომდევნო ნაბიჯებიც.
            <div>
                <small class="text-muted text-right">ავტორი: <a href="#">ლაშა შავდათუაშვილი</a> |
                    2025-08-04</small>
            </div>

            <div class="d-flex justify-content-end align-items-center gap-3">
                <a style="padding-right: 15px" href="#" aria-label="Like"><small>24</small> <img
                        width="15px"
                        src="{{ logo_url }}"
                        alt="heart-logo"></a>
                <a href="show/{{ id }}" class="small text-muted">💬 12 კომენტარი</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
