<footer class="py-4 mt-5 border border-top">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mb-3">
                <h5>კონტაქტი</h5>
                <p>Email: contact_us@example.com</p>
                <p>ტელეფონი: +123 456 7890</p>
                <p>მისამართი: 123 წერეთლის გამზირი, თბილისი</p>
            </div>

            <div class="col-md-3 mb-3">
                <h5>ლინკები</h5>
                <p><a href="{% url 'contact:create' %}">კონტაქტი</a></p>
                <p><a href="/about">ჩვენს შესახებ</a></p>
                <p><a href="/privacy">მონაცემთა დაცვა</a></p>
            </div>
            <div class="col-md-3 mb-3">
                <h5>კონტაქტი</h5>
                <p>Email: contact_us@example.com</p>
                <p>ტელეფონი: +123 456 7890</p>
                <p>მისამართი: 123 წერეთლის გამზირი, თბილისი</p>
            </div>

            <div class="col-md-3 mb-3">
                <h5>ლინკები</h5>
                <p><a href="{% url 'contact:create' %}">კონტაქტი</a></p>
                <p><a href="/about">ჩვენს შესახებ</a></p>
                <p><a href="/privacy">მონაცემთა დაცვა</a></p>
            </div>

        </div>

        <hr class="bg-white">
        <div class="text-center small">
            &copy; SupportHub 2025 - ყველა უფლება დაცულია
        </div>
    </div>
</footer>
